.contactUs {
  display: flex;
  justify-content: space-between;
  color: #ffff;
  padding: 3.5em 7em;
}
.contactMap {
  background-color: #4f5962;
}
.contacts {
  opacity: 70%;
  font-size: 1.3em;
  padding-bottom: 0.5em;
}
.question {
  font-size: 2.8em;
  padding: 0.5em 0;
}
.contactText {
  font-size: 1.1em;
}
.info {
  padding-top: 2em;
}
.infoTittle {
  opacity: 70%;
  font-size: 1.3em;
  padding-bottom: 0.5em;
}
.contactUsForm {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.input {
  font-size: 1.2em;
  color: rgb(255, 255, 255, 1);
  background: none;
  border: 0;
  padding: 0.5em 0 0.5em 0.3em;
}
.contactUsForm hr {
  color: #ffff;
}
.breakline {
  margin: 0.5em 0;
}
.submitButton {
  background-color: #ddddda;
  padding: 0.8em 1.6em;
  margin: auto;
  margin-top: 1.5em;
}
.mapDiv {
  text-align: center;
  padding-bottom: 4em;
}
.map {
  width: 80%;
  height: 18em;
}
#notFilled {
  border: 1px red solid;
}
.emailNotSend {
  text-align: center;
  margin-top: 1em;
}
.emailSend {
  text-align: center;
  margin-top: 1em;
}

@media only screen and (max-width: 700px) {
  .contactUs {
    display: block;
    text-align: center;
  }
  .contact {
    padding-bottom: 2em;
  }
  .contactUsForm {
    margin: auto;
    width: 100%;
  }
}
@media only screen and (max-width:450px){
  .contactUs{
    padding: 2.5em 3.5em;
  }
  .input{
    text-align: center;
  }
}
